.mat-toolbar {
  background: #0e0e69;
  color: white;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.card {
  //   padding: 24px;
  margin: 24px;
}

//
// section {
//   display: table;
// }

// .label {
//   display: table-cell;
//   //   font-size: 14px;
//   //   margin-left: 8px;
//   //   min-width: 120px;
//   text-align: right;
//   margin-bottom: 0;
//   padding-top: 7px;
//   width: 33.33333%;
// }

// .row {
//   display: table-cell;
//   //   width: 490px;
//   width: 66.66667%;
//   float: left;
//   position: relative;
//   min-height: 1px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.staticip-table {
  padding-bottom: 24px;
}
